<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>QRenamer</Name>
    <Version>1.0.0</Version>
    <Title>QRenamer</Title>
    <Publisher>Tham Ngap Wei</Publisher>
	<!-- the icon "macro_names" is same as the "macro_names" under pics folder -->
	<InstallerWindowIcon>macro_names</InstallerWindowIcon>
    <InstallerApplicationIcon>macro_names</InstallerApplicationIcon>
    <StartMenuDir>QRenamer</StartMenuDir>
    <TargetDir>@HomeDir@/QRenamer</TargetDir>
	<MaintenanceToolName>maintenanceTool</MaintenanceToolName>
</Installer>